* text=auto eol=lf
*.rs text
*.ts text
*.tsx text
*.css text
*.html text
*.json text
*.md text
*.yml text
*.yaml text
*.toml text
*.bat text eol=crlf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.png binary
*.ico binary
*.exe binary